.heroSection {
  background: url(../assets/am-hero.jpg) center/cover no-repeat;
  min-height: calc(100vh - var(--nav-h));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  padding-bottom: 80px;
}

.heroSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(2, 2, 2, 0.5);
  z-index: 1;
}

.heroSection > * {
  z-index: 2;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroContent h1 {
  font-size: var(--step-5);
  margin: 0 auto;
  text-align: center;
}

.heroContent p {
  text-wrap: anywhere;
  text-align: center;
  font-size: var(--step--1);
  padding: 0.5rem;
}

.heroBtnContainer {
  display: flex;
  justify-content: center;
}

.heroBtnContainer a {
  flex: 1 1 0;
  word-wrap: none;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 2px solid blue;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: white;
  background-color: darkblue;
  transition: all 0.2s ease;
  align-items: center;
  justify-content: center;
  font-size: var(--step--1);
}

.heroBtnContainer a:hover {
  background-color: deepskyblue;
  border-color: rgb(156, 156, 215);
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.heroBtnContainer a:active {
  transform: scale(0.98);
  background-color: #e0e7ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.heroBtnContainer a span {
  font-style: italic;
  font-size: var(--step--1);
}

.heroFooter {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: whitesmoke;
  opacity: 0.75;
}

.heroFooter span {
  font-size: var(--step--2);
}

.heroFooter img {
  height: 1.5em;
  width: auto;
}

.heroSection {
  background: image-set(
      url("../assets/am-hero.jpg"),
      url("../assets/am-hero.jpg")
    )
    center/cover no-repeat;
}

.mainWrapper {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

@media (max-width: 400px) {
}

@media (max-width: 768px) {
  .heroSection {
    background: image-set(
        url("../assets/am-hero.jpg"),
        url("../assets/hero-768@2x.jpg")
      )
      center/cover no-repeat;
  }
}

@media (max-width: 525px) {
  .heroBtnContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
