.list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem 1rem;
  font-size: 1.4rem;
}

.gameCard {
  background-color: lightblue;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}

.title {
  font-weight: bolder;
  flex: 1;
  max-width: 90%;
}

.meta {
  font-weight: 100;
  color: #111;
  font-style: italic;
  font-size: 1rem;
}

.loc {
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
}
.reset {
  color: black;
  font-weight: 900;
}

@media (max-width: 620px) {
  .list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
