.teamSec {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 2rem 1rem;
}

.programBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.heading {
  font-size: 2.4rem;
}

.titleExtra {
  font-size: 1rem;
  font-weight: 100;
  padding: 0.2rem;
}

.programCard {
  background-color: lightblue;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: black;
}

.programImg {
  width: 100%;
  height: auto;
}

.programText {
  height: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.2rem;
}

.programText h3 {
  text-wrap: nowrap;
}
.programText p {
  font-size: 0.9rem;
}

.programBtnBox {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.programBtnBox a {
  color: white;
  text-wrap: nowrap;
  font-size: 0.9rem;
  cursor: pointer;
}

.schedule {
  margin: 0.5rem auto;
  border-radius: 15px;
  border: 2px solid blue;
  padding: 1rem 2rem;
  cursor: pointer;
  color: white;
  background-color: blue;
  transition: all 0.2s ease;
}
.schedule:hover {
  background-color: deepskyblue;
  border-color: rgb(156, 156, 215);
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.schedule:active {
  transform: scale(0.98);
  background-color: #e0e7ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

@media (max-width: 500px) {
  .titleExtra {
    display: block;
    padding: 0.1rem 1rem;
  }
}
