/* Global css variables */

:root {
  --nav-h: 0px;
  /*--nav-c: rgb(147, 147, 147);*/
  --nav-c: #f5f6fa;
  --h1-font: clamp(2rem, 3.5rem + 2vw, 5rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--nav-c);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  background-color: blue;
  flex: 1;
  min-height: calc(100vh - var(--nav-h));
}

footer {
  min-height: var(--nav-h);
  background-color: var(--nav-c);
}

footer * {
  margin-block-end: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navLink:hover {
  border-bottom: 2px solid blue;
  padding-bottom: 0.2rem;
}

nav {
  background-color: var(--nav-c2);
}
